{% extends 'default.html' %}


{% block main %}
<div class=" row center">
    <br>
    <h3> DB RAILROAD </h3>
    <h4> Book a Trip</h4>


    <div class="col s12">
<a href="/one-way" class="waves-effect waves-light btn-large">One Way</a>
       <!--put button here-->
    </div>
    <br>
    <br>
    <br>
    
    <div class="col s12">
        <a href="/round-trip" class="waves-effect waves-light btn-large">Round Trip</a>

        <!--put another button here -->
    </div>
    </div>

{% include 'scripts.html' %}

{% endblock %}

