{% extends 'default.html' %}


{% block main %}
<div class=" row center">
    <br>
    <h3> Purchase a One Way Ticket </h3>
    <div class="row">
        <form id="purchase-form" class="col s6 offset-s3" method="post" action="#">

              <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field inline col s6"> Departure Date
          <input id="departure-date" type="date" class="validate">
        </div>
        <div class="input-field inline col s6"> Departure Time
          <input id="departure-time" type="time" class="validate">
        </div>
      </div>

         <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Select Station</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>

    <label>From</label>
  </div>

          <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Select Station</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>

    <label>To</label>
  </div>
    </form>
  </div>
        </form>
    </div>

</div>
{% endblock %}


