{% extends 'default.html' %}


{% block main %}
<div class=" row center">
    <br>
    <h3> Round Trip </h3>
    <div class="row">
        <form id="purchase-form" class="col s6 offset-s3" method="post" action="/round-trip-action">

            <div class="row">

                <form class="col s12">

                    <div class="row">
                        <h5> Departing Date </h5>

                        <div class="input-field inline col s6"> Departure Date
                            <input id="departure-date" type="date" class="validate" name = 'departure-date'>
                        </div>
                        <div class="input-field inline col s6"> Departure Time HH:MM AM/PM
                            <input id="departure-time" name="departure-time" type="time" class="validate">
                        </div>
                    </div>

                    <h5> Returning Date</h5>

                    <!--date time info-->
                    <div class="input-field inline col s6"> Return Date
                        <input id="return-date" name="return-date" type="date" class="validate">
                    </div>
                    <div class="input-field inline col s6"> Return Time HH:MM AM/PM
                        <input id="return-time" name="return-time" type="time" class="validate">
                    </div>


                    <h5> Locations</h5>
                    <!--Location SElections Departure-->
                    <div class=" col s6">
                        <label> From</label>
                        <select  name="from-station" class="browser-default">
                             <option value="" disabled selected>Select Station</option>
                                {% for station in stations %}
                                <option value={{ station[0] }}> {{ station[1] }} - {{station[2]}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class=" col s6">
                        <label> To</label>
                        <select name="to-station"  class="browser-default">
                             <option value="" disabled selected>Select Station</option>
                                {% for station in stations %}
                                <option value={{ station[0] }}> {{ station[1] }} - {{station[2]}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <h5>Tickets</h5>
                    <div>
                        <select id="tickets" class="browser-default" name="tickets">
                            <option value="" disabled selected>Select Tickets</option>
                            {% for index in range(1,9) %}
                            <option value="{{ index }}">{{index}}</option>
                            {% endfor %}
                        </select>
                    </div>
<br>

 <button class="btn waves-effect waves-light" type="submit" name="action">OK
  </button>

                </form>
            </div>
        </form>
    </div>

</div>
{% endblock %}


