<!--TODO RETURN DATE -->
{% extends 'default.html' %}


{% block main %}
<div class=" row center">
    <br>
    <h3> Round Trip </h3>
    <div class="row">
        <form id="purchase-form" class="col s6 offset-s3" method="post" action="#">

            <div class="row">

                <form class="col s12">

                    <div class="row">
                        <h5> Departing Date </h5>

                        <div class="input-field inline col s6"> Departure Date
                            <input id="departure-date" type="date" class="validate">
                        </div>
                        <div class="input-field inline col s6"> Departure Time
                            <input id="departure-time" type="time" class="validate">
                        </div>
                    </div>

                    <h5> Returning Date</h5>

                    <!--date time info-->
                    <div class="input-field inline col s6"> Return Date
                        <input id="return-date" type="date" class="validate">
                    </div>
                    <div class="input-field inline col s6"> Return Time
                        <input id="return-time" type="time" class="validate">
                    </div>


                    <h5> Locations</h5>
                    <!--Location SElections Departure-->
                    <div class=" col s6">
                        <label> From</label>
                        <select class="browser-default">
                            <option value="" disabled selected>Select Station</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class=" col s6">
                        <label> To</label>
                        <select class="browser-default">
                            <option value="" disabled selected>Select Station</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>


                </form>
            </div>
        </form>
    </div>

</div>
{% endblock %}


